# Ignore everything
/*

# But not wp-content/plugins/frohub-core
!wp-content/
!wp-content/plugins/
!wp-content/plugins/frohub-core/
wp-content/themes
wp-content/uploads
wp-content/index.php
wp-content/debug.log
wp-content/.DS_Store
wp-content/plugins/frohub-core/vendor

# Ignore everything inside wp-content/plugins except frohub-core
wp-content/plugins/*
!wp-content/plugins/frohub-core/
