# Ignore everything
/*

# But allow wp-content folder
!wp-content/

# Ignore everything inside wp-content
wp-content/*

# Allow only frohub-core plugin
!wp-content/plugins/frohub-core/

# Ignore everything inside frohub-core/vendor
wp-content/plugins/frohub-core/vendor/

# Ignore themes, uploads, and unwanted files
wp-content/themes/
wp-content/plugins/
wp-content/uploads/
wp-content/index.php
wp-content/debug.log
wp-content/.DS_Store
